[submodule "vivado/pfm/device-tree-xlnx"]
	path = vivado/pfm/device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx
[submodule "sw/cupdlp/Vitis_Libraries"]
	path = sw/cupdlp/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries
[submodule "sw/cupdlp/HiHiSpMV"]
	path = sw/cupdlp/HiHiSpMV
	url = https://github.com/pc2/HiHiSpMV
