# Ignore build output directory
build
export
spmv_stream_man_unroll_loc

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
logs
*.log

#Ignore lock files
.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json
